.nm-clear:before,
.nm-clear:after {
  content: " ";
  display: table;
}

.nm-pull--right {
  float: right;
}

.nm-pull--left {
  float: left;
}

.nm-clear:after {
  clear: both;
}

.nm-link {
	color: #0898cc;
	border-bottom: none;
	transition: .3s;
  -webkit-transition: .3s;
  text-decoration: none;
	cursor: pointer;
}

.nm-pointer {
	cursor: pointer;
}

.nm-link:hover {
	color: #ffbc00;
}	

.nm-text-center {
  text-align: center;
}

.nm-light-text {
	font-family: 'walsheim-light';
}

.nm-padding-clear {
	padding: 0;
}

.nm-margin-clear {
	margin: 0;
}

.nm-fix-box {
  box-sizing: border-box;
}

.nm-spacer-48 {
  width: 100%;
  float: left;
  height: 48px;
}

.nm-spacer-12 {
  width: 100%;
  float: left;
  height: 12px;
}
