$phone: 414px;
$zen-break: 540px;
$phone-lg: 649px;
$tablet: 767px;
$tablet-md: 830px;
$tablet-lg: 991px;
$max-center: 1024px;
$desktop: 1300px;

$see-through-grey: rgba(200, 200, 200, .3);
$nm-blue: #053B4E;
$nm-blue-fade: #1E4E60;
$nm-text: #362C2A;
$nm-text-opaque: rgba(54, 44, 42, .6);
$nm-grey: #F6F6F6;
$nm-link: #0898CC;
$nm-link-hover: #00AEEF;
$nm-blue-disabled: rgba(8,152,192,.7);
$nm-red: #CC3342;
$nm-border: #D9D9D9;
$nm-faded: rgba(8, 152, 204, .2);
$nm-yellow: #ffbc00;
$nm-green: #00C6A4;
$nm-FFF: #FFFFFF;
$opaque: rgba(0,0,0,0);
