.nm-btn {
  position: relative;
  color: white;
  width: 100%;
  float: left;
  text-align: center;
  padding: 10px;
  display: block;
	border: 1px solid rgba(54,44,42,.05);
  font-weight: bold;
  font-size: 16px;
	border-radius: 100px;
	background-color: $nm-link;
	box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.2), 0 0 2px 0 rgba(0,0,0,0.1), 0 2px 2px 0 rgba(0,0,0,0.2);
  box-sizing: border-box;
  transition: background .3s, color .3s;
  cursor: pointer;
  outline: none;

  &__add {
    fill: $nm-link;

    &--wrap {
      width: 13px;
      height: 13px;
      margin-right: 8px;
    }
  }

  &:hover {
    background: $nm-link-hover;
    color: white;
  }

  &__small {
    max-width: 170px;
    padding: 5px;
    font-size: 12px;
  }

  &__check {
    stroke: $nm-green;
    stroke-width: 1.5px;
    stroke-dasharray: 35;
    stroke-dashoffset: 35;
    transition: .7s;
    fill: none;

    &--input {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 26px;

      @media screen and (max-width: $phone-lg) {
        top: -5px;
        right: 0px;
      }
    }

    &.active {
      stroke-dashoffset: 0;
    }
  }

  &__shake {
    animation: shake .4s;
  }

  &__disabled {
    cursor: default;
    background: $nm-blue-disabled !important;
  }

  &__max {
    max-width: 300px;
  }

  &__center {
    float: none;
    margin: 0 auto;
  }
}

@keyframes shake {
  0% {
    transform: rotateZ(0deg);
  }
  16% {
    transform: rotateZ(3deg);
  }
  48% {
    transform: rotateZ(-3deg);
  }
  80% {
    transform: rotateZ(2deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}