.nm-card {
  width: 100%;
  max-width: $max-center;
  background: white;
  border: 5px solid grey;
  border-radius: 5px;
  padding: 20px;
  position: relative;

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
    fill: $nm-text;
    cursor: pointer;
    z-index: 2;
    transition: .3s;

    &:hover {
      fill: $nm-yellow;
    }
  }

  &__form {
    align-self: flex-start;
  }
}