.nm-layout {
  width: 100%;
  float: left;
  position: relative;

  &__center {
    width: 100%;
    max-width: $tablet-md;
    margin: 0 auto;
  }

  &__column {
    width: 50%;

    &--40 {
      width: 40%; 
    }

    &--80 {
      width: 80%; 
    }
  }
}