.nm-loader__heart {
  stroke: $nm-yellow;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 5px;
  stroke-dasharray: 185;
  stroke-dashoffset: 0;
  animation: heart 2s infinite ease;
  fill: none;

  &--wrap {
    padding: 3px;
    width: 70px;
    align-self: center;
  }
}


@keyframes heart {
  0% {
    stroke-dashoffset: -185;
  }
  50% {
    stroke-dashoffset: 0;
  }
}

