.nm-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  left: 0;
  top: 0;

  &__background {
    width: 100%;
    height: 100vh;
    background: $see-through-grey;
    position: fixed;
    overflow: scroll;
  }
}