.nm-search {
  width: 100%;
  float: left;
  border: 1px solid grey;
  padding: 6px 10px 6px 30px;
  color: grey;
  border-radius: 6px;
  outline: none;

  &__icon {
    width: 20px;
    height: 20px;
    left: 8px;
    top: calc(50% - 10px);
    position: absolute;
    cursor: pointer;
  }

  &__type {
    margin-right: 5px;
    padding: 5px 10px;
    float: left;
    cursor: pointer;

    &.selected {
      background: grey;
      color: white;
      border-radius: 6px;
    }
  }
}