.nm-table {

  &__head {
    width: 100%;
    border-bottom: 2px solid grey;
    color: grey;
    text-align: left;
  }

  &__row {

    &--selected {
      background: $see-through-grey;
    }

    &--hover {
      cursor: pointer;
      transition: .3s;

      &:hover {
        background: $see-through-grey;
      }
    }
  }

  &__td {
    padding: 12px 0;
    max-width: 200px;

    &:last-child {
      text-align: right;
    }
  }

}